<div class="header background-primary">
    <div class="clock">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
    </div>
    <div class="search">
        <div class="search-container background-primary">
            <input class="background-primary inp" matInput placeholder="Search..." value="">
            <i class="fa fa-search fa-2x"></i>
        </div>
    </div>
    <div class="question">
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
    </div>
</div>